<% if translation.language.code == @language %>
  <span class="translation home_language"><%= html_format(translation.content) %></span>
<% else %>
  <span class="translation foreign_language"><%= html_format(translation.content) %></span>
<% end %>
