.row-fluid
  %ul.thumbnails
    - media.each do |item|
      - if item.path =~ /(mov|avi|wmv)$/i # if video
        -# hide for now - will probably need to re-encode videos in html5-friendly format
        -# maybe use http://easyhtml5video.com/

        -#%li.span3
        -#  %a.thumbnail(data-toggle="modal" href="#lightbox-#{item.id}" alt=alt)
        -#    %video(width="218" height="145" controls)
        -#      %source{type: "video/mp4", src: item.path}
        -#  .modal.hide.fade(id="lightbox-#{item.id}" tabindex="-1" role="dialog" aria-hidden="true")
        -#    .modal-body
        -#      %video(width="320" height="240" controls)
        -#        %source{type: "video/mp4", src: item.path}
      - else
        %li.span3
          .thumbnail
            %a{href: item.paths[:large]}
              %img{src: item.paths[:small], alt: alt}
            - if item.caption(@language)
              %p.caption= render item.caption(@language)