/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

  
body{
   background:#e5e5e5 url(/images/bg.png);
   background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
   color: #333435;

 }
 
a :hover{text-decoration: none;}
a :active :focus :visited :link {color: #f3f3f3;}

/* HEADINGS SECTION TITLES */
.main_title {font-size: 24px; font-weight: bolder; color: #fff;}
.section-title{margin-left:10px; font-size: 22px; font-weight: bold; color: #212121;}
.sub_heading{font-size: 23px; font-weight: 600; text-transform: uppercase; color: #262626;}
h1, h2, h3 {font-size: 20px; font-weight: bolder; color:#ab0a19;}
 #header_group {
  background: url(/images/navbar.png)repeat-x top;
            height: 60px;
            padding: 0;
}
/* CSS TABLE ZEBRA */
 table tr:nth-child(even) {
    background: rgba(0,0,0,0.1);
}
hr {
   width:960px;
   margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #eeeeee;
  border-left:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
   display: block;
   clear: both; 
}

iframe[seamless]{

	background-color: transparent;

	border: 0px none transparent;

	padding: 0px;

	overflow: hidden;
}

.button_home a{
   background-color:#b0261e;
   width: 110px;
    padding:10px;
    position:relative;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size:18px;
    font-weight: bold;
    text-decoration:none;
    text-align: center;
    color:#f6f6f6;
    border: solid 1px #7b2828;
    border-radius: 5px;
    margin-right: 20px;
    margin-top:-6px;
    z-index:100;
    }
    
 .button_home a:active{
 padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
    top:1px;
    background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);
    } 
 .button_home a:before{
  background-color:#ccd0d5;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    padding:8px;
    left:-8px;
    top:-8px;
    z-index:-1;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
 }     
.content {
    font: 1em/1.4 Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
 
.title {
    font: 1.7em/1.2 Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#header_inner_wrap { 
                    margin: 0 auto;
                    width: 960px;
}
#brand {
        position: absolute;
        margin-top: -5px;
}
#nav {
      float: right;
            height: auto;
            width: auto;
            margin-top: 10px;
}
/* NAVIGATION STYLES*/
.navbar-inner {border: none; background-image: none; background: transparent;}
#nav a{color: #f3f3f3;}
#nav .sign_in{color: #444;}
.custom > li > a:hover {
    background-color: transparent;}
.nav-item a:hover{color: #fdf8f8; text-decoration: none; }            
.nav-ui { margin-top: 10px; }
.nav-item{display: inline; vertical-align: baseline;}

.nav_link{text-decoration: none; text-transform: uppercase; color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
font-weight: bold; font-size: 18px; padding: 5px; margin-right: 34px;}
a:hover.nav_link{background: rgba(0,0,0,.15);}

/* HOME STYLES */
.feature_container{margin-left: 20px; margin-top: 20px;}
.short_description {color: #000; font-size: 14px; font-weight:800;opacity: 0.9; }
.home_img {}
.home_board {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 440px;
    background: url("/images/coop_intro2.jpg") no-repeat top transparent;
}
.main_blurb_wrap{margin-top: 15px; text-align: left; padding-left: 30px; color: white; font-weight: 600; font-size: 16px;}
.main_vdio_wrap{margin-top: 40px; float: left;}
.home_lead_block_left{}
.home_lead_block_right{}
.landing_pic{max-width: 350px;}
.block_section {margin-top: 40px;}

/* LOAN LIST STYLES */
.loan_list {text-decoration: none; text-transform: uppercase; color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
font-weight: bold; font-size: 18px; padding:5px; margin-right: 34px;}
a:hover.loan_list{background: rgba(0,0,0,.15);}
.thum_holder{max-width: 130px;  }
.loan_list_wrap{ height: auto;}
.loan_list_item_wrap{background:#fdfdfd url(img/gray_tex.png) repeat top;}
.coop_pic_sm {background-position:center center; background-size:cover; width:100px; height: 100px; margin: 5px; border:5px solid #e0e0e0; border-radius: 4px;}
.coop_name{font-size: 14pt; font-weight: bold; color: #832828; margin-top:10px;}
.about_coop{font-size: 11pt; letter-spacing: 0.1em; font-weight: 400; color#999; line-height: 13pt;}
.detail_link {color: #5F2B26; font-size: 10pt; margin-left: 8px; font-weight: bold; text-transform: uppercase; margin-right: 20px;}
.sign_date{font-weight: inherit; font-variant: normal; color: #832828;}
.facts{width: 170px; margin: 5px;}
.money_sym{text-transform: uppercase; font-style: normal; font-weight: 500; color: #5F2B26;}
.loan_amount{color:#612C28; font-weight: bold }
.loan_info{color: #333; font-size: 11.6px; text-transform: none; margin-bottom: -15px;}
.loan_status{color: #333; font-size: 11.6px; text-transform: none;}
.payment_status{color: orange;}
.lend_btn{float: right; margin-right: 10px; margin-top; -3px;}
.loan_list_container { clear: both; background: #efefef; border: 1px solid #444;}
.section-title{margin-left: 10px; font-size: 23px; font-weight: 400;  color: #444;}
.loans{margin-top: 20px; background: transparent;}
.pagination {text-align: center;}
.filters div {float: left;}
.filters .country {float: right;}
.filters .country label {margin: 6px;}

/* SIGN IN and SIGN UP FORMS STYLES */
.contact {text-decoration: none; text-transform: uppercase; color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
font-weight: bold; font-size: 18px; padding: 5px; margin-right: 34px;}
.sign_in {text-decoration: none; text-transform: uppercase; color: #666; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold; font-size: 18px; margin-top:-6px;}

/* LOAN DETAIL PAGE STYLES */
.language {font-style: normal; font-weight: bold; color: #999; margin-right: 40px;}
.picture { height: 340px; margin: auto; max-width:510px; }
.detail_wrap{ background: transparent;  padding:6px; }
.detail_page{margin-top:20px;}
.detail_gutter{margin-left: 10px;}
.detail_gutter .info {float: left; margin-right: 10px;}
.detail_gutter .short_description {clear: both;}
.carousel-control {top: 50%;}
.copy_front_low{max-width: 510px; color: #022121; font-weight: inherit; font-size: 13pt;}
.lend_button{background: url(/images/lend_btn.png)no-repeat; width: 109px; height: 40px; margin-top: -40px; margin-right: 20px; }
.short_description{color: #666;}
.paso {color: #666; width: 350px;display: block; line-height: 1.3em; }
.active{list-style: none; color: #666; display: table-caption;}
.completed{color: #555; display: table-caption; }
.update-box {
    width: 320px;
    position: relative;
    margin: 0 auto 15px auto;
    padding: 10px 15px;
    text-align: left;
    border-radius: 5px;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.3),
        solid 0 1px 0 rgba(255,255,255,0.1); 
    cursor: default;
    display: block;
}

.update-box-color {
  background: #f8f9ef;
  border: 1px solid #e8e8e8;
}
.user_name {
  font-size: 18px;
  font-weight: bold;
  color: #327d72;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}
.messages {
	background-color: rgb(255, 255, 123);
	display: block;
}
.messages p {
	padding: 3px;
	font-size: 12px;
	color: #777;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

/* HOME STYLES */ 
.landing_pic {float: left; margin-top: 20px; width: 400px; height: 250px; }    
.panel_static{height:480px; color: white; margin-top:30px; font-size: 13.60px; font-weight: 500;} 
.panel_content_top{margin-top: 30px;}
.copy_front_big{font-size: 18px; color: #020404; line-height: 22px; font-weight: bolder;} 
.copy_front_low{font-size: 14px; color: #020404; line-height: 23px; font-weight: 300;}    
li.loan {
	margin: 25px 0;
}

.errorlist {
	color:red;
}

.usermenu a.dropdown-toggle {
	color:white;
}

#footer {clear both; width: 940px; }
