/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";
  
body{
   background:#e5e5e5 url(/images/bg.png);
   background-repeat: repeat;
  -webkit-font-smoothing: antialiased;
   color: #333435;
}
 
a :hover{text-decoration: none;}
a :active :focus :visited :link {color: #f3f3f3;}

hr {
   margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #eeeeee;
  border-left:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
   display: block;
   clear: both; 
}

iframe[seamless]{
	background-color: transparent;
	border: 0px none transparent;
	padding: 0px;
	overflow: hidden;
}

.errorlist {
	color:red;
}

/* HEADINGS SECTION TITLES */
.main_title {font-size: 24px; font-weight: bolder; color: #fff;}
.section-title{margin-left:10px; font-size: 22px; font-weight: bold; color: #212121;}
.sub_heading{font-size: 23px; font-weight: 600; text-transform: uppercase; color: #262626;}
h1, h2, h3 {font-size: 20px; font-weight: bolder; color:#ab0a19;}
 #header_group {
  background: url(/images/navbar.png)repeat-x top;
            height: 60px;
            padding: 0;
}

.button_home a{
   background-color:#b0261e;
   width: 110px;
    padding:10px;
    position:relative;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size:18px;
    font-weight: bold;
    text-decoration:none;
    text-align: center;
    color:#f6f6f6;
    border: solid 1px #7b2828;
    border-radius: 5px;
    margin-right: 20px;
    margin-top:-6px;
    z-index:100;
    }
    
 .button_home a:active{
 padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
    top:1px;
    background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);
    } 
 .button_home a:before{
  background-color:#ccd0d5;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    padding:8px;
    left:-8px;
    top:-8px;
    z-index:-1;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
 }     
.content {
    font: 1em/1.4 Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
 
.title {
    font: 1.7em/1.2 Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#header_inner_wrap { 
                    margin: 0 auto;
                    width: 960px;
}
#brand {
        position: absolute;
        margin-top: -5px;
}
#footer {clear: both; width: 940px; }

/* NAVIGATION STYLES*/
.navbar-inner {border: none; background-image: none; background: transparent;}
#nav {
      float: right;
            height: auto;
            width: auto;
            margin-top: 10px;
}
#nav a{color: #f3f3f3;}
#nav .sign_in{color: #444;}
.custom > li > a:hover {
    background-color: transparent;}
.nav-item a:hover{color: #fdf8f8; text-decoration: none; }            
.nav-ui { margin-top: 10px; }
.nav-item{display: inline; vertical-align: baseline;}

.nav_link{text-decoration: none; text-transform: uppercase; color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
font-weight: bold; font-size: 18px; padding: 5px; margin-right: 34px;}
a:hover.nav_link{background: rgba(0,0,0,.15);}
.usermenu a.dropdown-toggle {
	color:white;
}

/* SIGN IN and SIGN UP FORMS STYLES */
.contact {text-decoration: none; text-transform: uppercase; color: white; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
font-weight: bold; font-size: 18px; padding: 5px; margin-right: 34px;}
.sign_in {text-decoration: none; text-transform: uppercase; color: #666; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold; font-size: 18px; margin-top:-6px;}

/* CSS TABLE ZEBRA */
 table tr:nth-child(even) {
    background: rgba(0,0,0,0.1);
}
