/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require scaffolds
 *= require_self
 *= require home
 *= require loans
 *= require users
 *= require media
 *= require css/blueimp-gallery
 */

@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap-rowlink";

$tww_red: #882222;
$tww_gold: #C0B18F;
$tww_black: #011C26;

body {
  background: #e5e5e5 url('/images/bg.png') repeat;
  -webkit-font-smoothing: antialiased;
  color: #333435;
}
.container-fluid {
  max-width: 1100px;
  margin: auto;
}
a, a:link, a:visited, a:active {
  /*color: #f3f3f3;*/
  color: $tww_red;
}
a:hover {
  color: rgb(73, 18, 13);
  text-decoration: underline;
}
a.simple:hover {
  text-decoration: none;
}
a.currency_symbol {
  color: inherit;
  border-bottom: 1px dotted;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-bottom: 1px solid #eeeeee;
  display: block;
  clear: both;
}
th {
  text-align: left;
}

iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

.errorlist {
  color: red;
}
.empty {
  font-weight: bold;
}
.notfound {
  font-style: italic;
}
.nowrap {
  white-space: nowrap;
}

//.translation p:last-child {
//  margin-bottom: 0;
//}
.foreign_language {
  font-style: italic;
  &:hover {
    cursor:help;
  }
}


/* HEADERS, FOOTERS, TITLES */
.main_title {
  font-size: 24px;
  font-weight: bolder;
  color: #fff;
}
.page_title {
  margin-left: 10px;
}
.section_title {
  margin-left: 10px;
  font-size: 23px;
  color: #444;
  font-weight: bold;
}
.sub_heading {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  color: #262626;

}
h1, h2, h3 {
  /*font-size: 20px;*/
  font-weight: bolder;
  color: #ab0a19;
}

#brand {
  position: absolute;
  margin-top: -5px;
}
#footer {
  clear: both;
  width: 940px;
}


/* NAVIGATION STYLES*/
.navbar .nav {
  float: right;
  height: auto;
  width: auto;
  margin-top: 10px;
}
.navbar .nav a {
  color: #f3f3f3;
}
.navbar .nav .sign_in {
  color: #444;
}
.navbar .nav-collapse .collapse{
  background: #f8f8f8;
}
.custom > li > a:hover {
  background-color: transparent;
}
.nav-item a:hover {
  color: #fdf8f8;
  text-decoration: none;
}
.nav-ui {
  margin-top: 10px;
}
.nav-item {
  display: inline;
  vertical-align: baseline;
}

.navbar .navbar-inner{
  background-image: url('/images/navbar.png');
  background-repeat: repeat-x;
  background-position: top;
  height: 60px;
  padding: 0;
}

.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
  background: none;
}
.nav_link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  margin-right: 34px;
  color: #f3f3f3;
}
a:hover.nav_link {
  background: rgba(0,0,0,.05);
}
.usermenu a.dropdown-toggle {
  color: white;
}

.nav-pills a:hover {
  color: $tww_red;
}
.nav-pills .disabled a:hover {
  color: #999;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: white;
  background-color: $tww_red;
}

.back_link {
  margin-left: 10px;
}


/* EXTRA GLYPHICONS */
.icon-coinstack {
  background-image: url("/assets/coinstack.png");
  background-position: 0 0;
}

/* CSS TABLE ZEBRA */
/*table tr:nth-child(even) {
  background: rgba(255,255,0,0.1);
}*/


/* RESPONSIVE STYLES*/

/* Large desktop */
@media (min-width: 1200px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }

/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar .navbar-inner ul {
    width: 100%;
    background: #f8f8f8;
  }
  .navbar .navbar-inner li {
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
  }
  .home_board {
    float: none;

    width: 100%;
    height: 100%;
  }
  .vdio iframe {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
