// Place all the styles related to the loans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** LOAN LIST STYLES **/

.loan_list {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  margin-right: 34px;
}
a:hover.loan_list {
  background: rgba(0,0,0,.15);
}
.loan_list_wrap {
  height: auto;
}
.loan_list_item_wrap {
  background: #fdfdfd url('img/gray_tex.png') repeat top;
}
li.loan {
  margin: 25px 0;
}

.coop_pic_sm {
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 5px solid #e0e0e0;
  border-radius: 4px;
}
.coop_name {
  font-size: 14pt;
  font-weight: bold;
  color: #832828;
  margin-top: 10px;
}
.about_coop {
  font-size: 11pt;
  /*letter-spacing: 0.1em;*/
  font-weight: 400;
  color: #999;
  line-height: 13pt;
}
.detail_link {
  font-size: 10pt;
  margin-left: 8px;
  font-weight: bold;
  /*text-transform: uppercase;*/
  margin-right: 20px;
}
.sign_date {
  font-weight: inherit;
  font-variant: normal;
  color: #832828;
}
.facts {
  width: 170px;
  margin: 5px;
}
.money_sym {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  color: #5F2B26;
}
.loan_amount {
  color: #612C28;
  font-weight: bold
}
.loan_info {
  color: #333;
  font-size: 11.6px;
  text-transform: none;
  margin-bottom: -15px;
}
.loan_status {
  color: #333;
  font-size: 11.6px;
  text-transform: none;
}
.payment_status {
  color: orange;
}
.lend_btn {
  float: right;
  margin-right: 10px;
  margin-top: -3px;
}
.loan_list_container {
  clear: both;
  background: #efefef;
  border: 1px solid #444;
}
.section-title {
  margin-left: 10px;
  font-size: 23px;
  /*font-weight: 400;*/
  color: #444;
}
.filters {
  margin-top: 20px;
  background: transparent;
}
.pagination {
  text-align: center;
}
.filters div {
  float: left;
}
.filters .country {
  float: right;
}
.filters .country label {
  margin: 6px;
}


/* Collapse table into stacked block elements on narrow screens */
@media (max-width: 700px) {
  .no-more-tables {
    &, thead, tbody, th, td, tr { 
      display: block; 
      border: none;
      padding: 0;
    }
    td { 
      padding: 15px 15px 0 15px;
    }
    td.loan_item_facts {
      padding: 15px;
    }
    .coop_pic_sm {
      margin: 0;
    }
  }
}


/** LOAN DETAIL PAGE STYLES **/

.language {
  font-style: normal;
  font-weight: bold;
  color: #999;
  margin-right: 40px;
}
.back_link {
  margin-left: 10px;
}
.detail_wrap {
  background: transparent;
}
.detail_page {
  margin-top: 20px;
}
.detail_gutter {
  margin-left: 10px;
}
.detail_gutter .info {
  float: left;
  
}
.detail_gutter .short_description {
  clear: both;
}
.short_description {
  color: #202020;
}
.carousel-control {
  top: 50%;
  &, &:link, &:visited, &:active, &:hover {
    color: white; 
  }
}
.carousel-inner .item {
  height: 400px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Landscape phones and down, shrink height of carousel */
@media (max-width: 480px) {
  .carousel-inner .item { height: 250px; }
}

.loan_description {
  max-width: 510px;
  color: #022121;
  font-weight: inherit;
  font-size: 13pt;
}
.lend_button {
  background: url('/images/lend_btn.png') no-repeat;
  width: 109px;
  height: 40px;
  margin-top: -40px;
  margin-right: 20px;
}

.paso {
  color: #666;
  width: 350px;
  display: block;
  line-height: 1.3em;
}
.active {
  list-style: none;
  color: #666;
  display: table-caption;
}
.completed {
  color: #555;
  display: table-caption;
}
.loan-feed-block{
   margin-left: -20px;
}
.timeline li {
  list-style: none;
  width: 500px;
  margin-left: 10px;
}
.loan-feed {
  box-shadow: 0px 1px 0px rgb(255, 255, 255) inset;
  background-color: rgb(246, 249, 255);
  border: 1px solid rgb(236, 240, 244);
  padding: 0px 12px;
  margin-top: 5px;
  padding-bottom: 20px;
  border-radius: 5px 5px 5px 5px;
  width: 520px;
}
.loan-title {
  font-size: 13px;
  margin: 0px 0px 0.2em;
}
.logs-body {
  font-size: 13px;
  vertical-align: baseline;
  padding: 0px;
  color: #777;
}
.loan-feed-img {
  float: left;
  padding-top: 5px;
  margin-right: 5px;
  width: 52px;
}
.paso_short_desc {
  padding: 4px;
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #282023;
}
.paso_completed{
  display: none;
}
.log{
  display: block;
  font-weight: 400;
}
.log_short_desc{
  width: 430px;
  float: left;
  display: none;
}
.log-inner{
  border-radius: 4px;
  background:rgba(190, 223, 196, 0.20);
  box-shadow: 0px 1px 0px rgba(190, 223, 196, 0.30) inset;
  font-size: 12.6px;
  color: #545454;
  padding: 4px;
}
.log-progress{
  float: right;
  margin-right: 30px;
}
.info_progress{
  font-weight: bolder;
  color: #f3f3f3;
  
}
.paso-summary{
  width: 470px;
}
.paso-status {
  float: right;
  color: #212121;
  font-weight: 800;
  margin-right: 5px;
}
.paso-date{
  float:right;
  padding-top:-2px;
}

.update-box {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 525px;
  margin-left:6px;
}

.update-box-color {
  box-shadow: 0px 1px 0px rgb(245, 248, 237) inset;
  background: rgba(245, 246, 236, 0.60);
}
.user_name {
  font-size: 18px;
  font-weight: bold;
  color: #327d72;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}
.messages {
  background-color: rgb(255, 255, 123);
  display: block;
}
.messages p {
  padding: 3px;
  font-size: 12px;
  color: #777;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.other_loans {
  .rowlink {
    /*background-color: #f3f3f3;*/
  }
  .selected {
    background-color: #f3f3f3;
    /*font-weight: bold;*/
    /*color: rgb(164,164,164);*/
  }
  tbody tr.rowlink:hover td {
    background-color: #f3f3f3;
  }
}

.repayments {
  .overdue td {
    background-color: #f2dede;
  }
  .paid td {
    background-color: #dff0d8;
  }
  .due td {
    /*background-color: #d9edf7;*/
  }
}