<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<title><%= yield :title %> | Fundación La Base</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="pingback" href="http://www.theworkingworld.org/baselab/xmlrpc.php" />
	<meta name='robots' content='noindex,follow' />
<link rel="alternate" type="application/rss+xml" title="Fundación La Base &raquo; Feed" href="http://www.theworkingworld.org/baselab/feed" />
<link rel="alternate" type="application/rss+xml" title="Fundación La Base &raquo; Comments Feed" href="http://www.theworkingworld.org/baselab/comments/feed" />
<link rel='stylesheet' id='contact-form-7-css'  href='http://www.theworkingworld.org/baselab/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.9' type='text/css' media='all' />
<link rel='stylesheet' id='zilla-likes-css'  href='http://www.theworkingworld.org/baselab/wp-content/plugins/likes/styles/zilla-likes.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='http://www.theworkingworld.org/baselab/wp-content/plugins/revslider/rs-plugin/css/settings.css?rev=4.2.1&#038;ver=3.9.1' type='text/css' media='all' />
<style type='text/css'>
.tp-caption a {
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out;
}

.tp-caption a:hover {
color:#ffa902;
}
</style>
<link rel='stylesheet' id='rs-captions-css'  href='http://www.theworkingworld.org/baselab/wp-content/plugins/revslider/rs-plugin/css/dynamic-captions.css?rev=4.2.1&#038;ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-loom-raleway-font-css'  href='http://fonts.googleapis.com/css?family=Raleway%3A400%2C300%2C500%2C600%2C700%2C800%2C900&#038;ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-bootstrap-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/css/bootstrap.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-owl-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/css/owl.carousel.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-fancybox-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/fancybox/jquery.fancybox.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-fancybox-thumbs-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2&#038;ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-prettify-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/google-code-prettify/prettify.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-style-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-fontello-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/type/fontello.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-picons-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/type/picons.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-budicons-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/type/budicons.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='ebor-custom-css'  href='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/custom.css?ver=3.9.1' type='text/css' media='all' />
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var zilla = {"ajaxurl":"http:\/\/www.theworkingworld.org\/baselab\/wp-admin\/admin-ajax.php"};
var zilla_likes = {"ajaxurl":"http:\/\/www.theworkingworld.org\/baselab\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/plugins/likes/scripts/zilla-likes.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min.js?rev=4.2.1&#038;ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.2.1&#038;ver=3.9.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.theworkingworld.org/baselab/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.theworkingworld.org/baselab/wp-includes/wlwmanifest.xml" /> 
<link rel='prev' title='Blog &#8211; Grid Blog' href='http://www.theworkingworld.org/baselab/blog' />
<link rel='next' title='Home &#8211; Business Style' href='http://www.theworkingworld.org/baselab/home' />
<meta name="generator" content="WordPress 3.9.1" />
<link rel='canonical' href='http://www.theworkingworld.org/baselab/rails' />
<link rel='shortlink' href='http://www.theworkingworld.org/baselab/?p=884' />
<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #fcfcfc; }
</style>
	
<style type="text/css">
	
	/**
	 * Header
	 */
	.navbar-header {
		background: #ffffff;
		border-top: 3px solid #414141;
	}
	
	.navbar.basic.fixed .navbar-header {
		background: rgba(255,255,255,0.94);
	}
	
	.navbar .dropdown-menu {
		background: #414141;
	}
	
	/**
	 * Footer
	 */
	.footer {
		background: #ffffff;
	}
	
	.sub-footer {
		background: #ffffff;
	}
	
	/**
	 * Page Wrappers Backgounds
	 */
	.light-wrapper,
	#sub-header.sub-footer.social-light {
	    background: #fcfcfc;
	}
	.dark-wrapper,
	#sub-header.sub-footer.social-line {
	    background: #f5f5f5;
	}
		
	/**
	 * Highlight Colours
	 */
	.spinner,
	.tp-loader,
	#fancybox-loading div {
	    border-left: 3px solid rgba(193,39,44,.15) !important;
	    border-right: 3px solid rgba(193,39,44,.15) !important;
	    border-bottom: 3px solid rgba(193,39,44,.15) !important;
	    border-top: 3px solid rgba(193,39,44,.8) !important;
	}
	a,
	.colored,
	.post-title a:hover,
	ul.circled li:before,
	.lead.lite a:hover,
	.footer a:hover,
	.nav > li > a:hover,
	.nav > li.current > a,
	.navbar .nav .open > a,
	.navbar .nav .open > a:hover,
	.navbar .nav .open > a:focus,
	.navbar .dropdown-menu > li > a:hover,
	.navbar .dropdown-menu > li > a:focus,
	.navbar .dropdown-submenu:hover > a,
	.navbar .dropdown-submenu:focus > a,
	.navbar .dropdown-menu > .active > a,
	.navbar .dropdown-menu > .active > a:hover,
	.navbar .dropdown-menu > .active > a:focus,
	.filter li a:hover,
	.filter li a.active,
	ul.circled li:before, 
	.widget_categories ul li:before,
	.post-content ul li:before,
	.textwidget a,
	#sub-header .pull-left i,
	#sub-header.sub-footer.social-line .pull-left a:hover,
	#sub-header.sub-footer.social-light .pull-left a:hover,
	#menu-standard-navigation a.active  {
	    color: #c1272c;
	}
	.lead.lite a {
	    border-bottom: 1px solid #c1272c;
	}
	.btn,
	.parallax .btn-submit,
	.btn-submit,
	.newsletter-wrapper #mc_embed_signup .button,
	.widget_ns_mailchimp form input[type="submit"],
	input[type="submit"],
	.bonfire-slideout-content input[type="submit"],
	input[type="button"] {
	    background: #c1272c;
	}
	.btn:hover,
	.btn:focus,
	.btn:active,
	.btn.active,
	.parallax .btn-submit:hover,
	input[type="submit"]:hover,
	.bonfire-slideout-content input[type="submit"]:hover,
	.widget_ns_mailchimp form input[type="submit"]:hover,
	input[type="button"] {
	    background: #c10d13;
	}
	.tooltip-inner {
	    background-color: #c1272c;
	}
	.tooltip.top .tooltip-arrow,
	.tooltip.top-left .tooltip-arrow,
	.tooltip.top-right .tooltip-arrow {
	    border-top-color: #c1272c	}
	.tooltip.right .tooltip-arrow {
	    border-right-color: #c1272c	}
	.tooltip.left .tooltip-arrow {
	    border-left-color: #c1272c	}
	.tooltip.bottom .tooltip-arrow,
	.tooltip.bottom-left .tooltip-arrow,
	.tooltip.bottom-right .tooltip-arrow {
	    border-bottom-color: #c1272c	}
	.services-1 .col-wrapper:hover,
	.services-1 .col-wrapper:hover:before {
	    border-color: #c1272c	}
	.services-3 .icon i.icn {
	    color: #c1272c;
	    border: 2px solid #c1272c;
	}
	.services-3 .col:hover i.icn {
	    background-color: #c1272c;
	}
	.panel-title > a:hover {
	    color: #c1272c	}
	.progress-list li em {
	    color: #c1272c;
	}
	.progress.plain {
	    border: 1px solid #c1272c;
	}
	.progress.plain .bar {
	    background: #c1272c;
	}
	.meta.tags a:hover {
	    color: #c1272c	}
	.owl-carousel .owl-controls .owl-prev:hover,
	.owl-carousel .owl-controls .owl-next:hover {
	    border: 1px solid #c1272c;
	    color: #c1272c;
	}
	.navigation a:hover {
	    border: 1px solid #c1272c;
	    color: #c1272c;
	}
	.tp-caption a,
	#testimonials .author,
	.tabs-top .tab a:hover,
	.tabs-top .tab.active a {
	    color: #c1272c	}
	.parallax a:hover {
	    color: #c10d13	}
	.pagination ul > li > a:hover,
	.pagination ul > li > a:focus,
	.pagination ul > .active > a,
	.pagination ul > .active > span {
	    border: 1px solid #c1272c;
	    color: #c1272c;
	}
	.sidebox a:hover {
	    color: #c1272c	}
	#comments .info h2 a:hover {
	    color: #c1272c	}
	#comments a.reply-link:hover {
	    color: #c1272c	}
	.pricing .plan h4 span {
	    color: #c1272c	}
	.bonfire-slideout-button:hover {
		color: #c1272c;
	}
	.bonfire-slideout-close:hover {
		color: #c1272c;
	}
	.bonfire-slideout-content .btn-submit {
	    background: #c1272c	}
	@media (max-width: 991px) { 
		.navbar-nav > li > a,
		.navbar-nav > li > a:focus {
		    color: #c1272c		}
	}
	
		
</style>
	
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		  <!--[if lt IE 9]>
			  <script src="http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/html5shiv.js"></script>
			  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		  <![endif]-->	<%= yield :head %>
</head>

<body class="page page-id-884 page-template-default custom-background">

<div id="preloader">
	<div id="status">
		<div class="spinner"></div>
	</div>
</div>
<div class="body-wrapper">

  <div class="navbar basic default">
    <div class="navbar-header">

    
      <div class="container">

        <div class="basic-wrapper">

        	<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse">
        		<i class='icon-menu-1'></i>
        	</a>

        	<a class="navbar-brand" href="http://www.theworkingworld.org/baselab">
        		        			<img src="http://www.theworkingworld.org/baselab/wp-content/uploads/2014/07/Header1.png" alt="Alt Text" class="retina" />
        		        	</a>

        </div>

        <div class="collapse navbar-collapse pull-right">
			<ul id="menu-standard-navigation" class="nav navbar-nav"><li id="menu-item-66" class="nav navbar-nav menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a title="Novedades" href="http://www.theworkingworld.org/baselab/novedades">Novedades</a></li>
<li id="menu-item-62" class="nav navbar-nav menu-item menu-item-type-post_type menu-item-object-page menu-item-62"><a title="Sobre Nosotros" href="http://www.theworkingworld.org/baselab/sobre-nosotros">Sobre Nosotros</a></li>
<li id="menu-item-64" class="nav navbar-nav menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a title="Inversión" href="http://www.theworkingworld.org/baselab/inversion">Inversión</a></li>
<li id="menu-item-63" class="nav navbar-nav menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a title="Contacto" href="http://www.theworkingworld.org/baselab/contacto">Contacto</a></li>
<li id="menu-item-844" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-844"><a title="Donar" href="http://paypal.com">Donar</a></li>
</ul>        </div>

      </div>
    </div>
  </div>
  <div class="offset"></div>
<div class="light-wrapper">
	<div class="container inner">
	<%= yield :content %>

	</div>
</div><footer class="footer">

	<div class="container inner">
	  <div class="row">
	
			    
	  </div>
	</div>
	
	<div class="sub-footer">
	  <div class="container">
	    
	    <div class="text-center">
	    	<h5 class="footer-copy">Fundación La Base<br />
Talcahuano 215, 1B / 1013  Ciudad Autónoma de Buenos Aires / Tel: (+54-11) 4382-1520</h5>
	    </div>
	    
	  </div>
	</div>

</footer>  
</div><!-- /.body-wrapper --> 

<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/www.theworkingworld.org\/baselab\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.9'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/bootstrap.min.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/twitter-bootstrap-hover-dropdown.min.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/jquery.fancybox.pack.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2&#038;ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0&#038;ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/jquery.isotope.min.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/jquery.easytabs.min.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/owl.carousel.min.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/jquery.fitvids.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/jquery.sticky.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/google-code-prettify/prettify.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/retina.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?sensor=false&#038;v=3.exp&#038;ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/gomap.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/canvas.js?ver=3.9.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wp_data = {"fixed_header":"1","site_version":"multipage"};
/* ]]> */
</script>
<script type='text/javascript' src='http://www.theworkingworld.org/baselab/wp-content/themes/b-theme/style/js/scripts.js?ver=3.9.1'></script>

</body>
</html>